*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr;
    background: linear-gradient(90deg, rgba(14,45,3,1) 0%, rgba(67,208,80,1) 73%, rgba(138,255,128,1) 100%);

}
header{
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    padding: 0 20px;
    color: #FFFFFF;
}

header {
    padding-left: 75px;
    justify-items: start; 
}

header span {
    font-weight: 600;
}

main {
    display: grid;
    justify-items: center; 
    align-items: center;
}

.background-logo {
    position: absolute;
    width: 70%;
    max-height: 85%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content-text {
    position: absolute;
    color: #ffffff;
    font-size: 2.5rem;
    width: 280px;
    transform: translateX(-175%);
    text-align: end;
}

.content-image {
    height: 30vh;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    padding: 0 75px;
    color: #FFFFFF;
    font-weight: 100;
}

footer div {
    width: 64px;
}

@media (max-width: 768px) {
    body {
        grid-template-rows: 100px auto 100px; 
    }

    header {
        padding-left: 25px;
    }

    .content-text {
        transform: translateX(0%);
        top: 80px;
        font-size: 1rem;
        width: 100px;
        text-align: center;
    }

    .content-image {
        height: 70vh;
    }

    footer {
        padding: 0px 25px;

    }
} span{
    display:block;
    text-align: center;
}
